<h1 class="app-title">
	Angular Pickers
</h1>

<nav>
	<a routerLink="/home" routerLinkActive="active">Home</a>
	<a routerLink="/pickers" routerLinkActive="active">Pickers</a>
	<a routerLink="/modalwindows" routerLinkActive="active">ModalWindows</a>
	<a routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a>
	<a routerLink="/duration" routerLinkActive="active">Duration</a>
	<a routerLink="/primeng" routerLinkActive="active">Primeng</a>
	<a routerLink="/ngx" routerLinkActive="active">Ngx</a>
</nav>

<br />
<ul>
	<li *ngFor="let route of arrRoutes">{{ route }}</li>
</ul>

<div id="routes" [attr.routes]="arrRoutes"></div>

<router-outlet></router-outlet>